.create__event__dialog {
    max-height: 600px;
    max-width: 425px;
    overflow-y: scroll;
}

.create__event__dialog::backdrop {
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(3px);
}

.event__tarea {
    resize: none;
    height: auto;
    overflow-y: scroll;
}