.homeInfo__card {
    max-width: 325px;
}

.homeInfo__card > h3 {
    font-size: 1.125rem;
}

.homeInfo__card > p {
    font-size: 0.875rem;
    line-height: 1.35;
}

@media(min-width: 768px) {
    .homeInfo__card {
        max-width: 400px;
    }
    .homeInfo__card > h3 {
        font-size: 1.3125rem;
    }

    .homeInfo__card > p {
        font-size: 1rem;
    }
}

@media(min-width: 992px) {
    .homeInfo__card {
        max-width: 415px;
    }
    .homeInfo__card > h3 {
        font-size: 1.5rem;
    }
    .homeInfo__card > p {
        font-size: 1.125rem;
    }
}