/* .login-container {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 60px;
    font-size: 1.1rem;
    transform: scale(1.2);
    transition: transform 0.3s ease;
  }
  .form-grid-login {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; 
  }

  .form-grid-custom {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  
  .register-text {
    margin-top: 20px;
    font-size: 15px;
    color: rgb(0, 0, 0);
  }
  
  .register-text a {
    color: rgb(71, 143, 236);
    text-decoration: none;
    font-weight: bold;
  }
  
  .register-text a:hover {
    text-decoration: underline;
    color: rgb(0, 30, 75);
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-up {
    animation: fadeInUp 0.6s ease forwards;
  }
  input.input-error {
    border: 2px solid rgb(255, 0, 0) !important;
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.25);
    transition: border-color 0.3s ease;
  }
  .error-message {
    color: rgb(255, 0, 0);
    font-size: 0.9rem;
    margin-top: 5px;
    display: block;
    opacity: 0;
    transform: translateY(2px);
    animation: fadeInError 0.4s ease-out forwards;
  }
  .mensaje-error-login {
    color: rgb(255, 0, 0);
    font-size: 0.95rem;
    animation: fadeInError 0.3s ease forwards;
  }
  @keyframes fadeInError {
    0% {
      opacity: 0;
      transform: translateY(2px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  } */

/* Estilos propios */
.login_form {
  max-width: 475px;
  height: 100%;
}

.btn__login {
  outline: none;
  border: none;
}
.btn__login:disabled {
  background-color: var(--clr-secondary-600);
  color: var(--clr-neutral-300);
  cursor: not-allowed;
}
.btn__login.enabled {
  background-color: var(--clr-secondary-400);
  cursor: pointer;
  transition: background-color 0.15s ease;
}
.btn__login.enabled:hover {
  background-color: var(--clr-secondary-300);
}

.link_register {
  text-decoration: none;
  color: var(--clr-secondary-300);
}
.link_register:hover {
  text-decoration: underline;
}

.fs--title {
  font-size: 24px;
}
.fs--link {
  font-size: 14px;
}

@media(min-width: 475px) {
  .login_form {
    height: auto;
    border-radius: 8px;
  }
}